/* 
colour scheme
https://digitalsynopsis.com/design/website-color-schemes-palettes-combinations/
(number 13)
#D79922 Dark brown - rgba(215, 153, 34, 1)
#EFE2BA Light brown - rgba(239, 226, 186, 1)
#F13C20 Red - rgba(241, 60, 32, 1)
#4056A1 Dark Blue - rgba(64, 86, 161, 1)
#C5CBE3 Light Blue - rgba(197, 203, 227, 1)
*/

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700');

body {
  font-family: 'Merriweather', serif;
}
p {
  line-height: 1.7;
}

.spacer-100 {
  width: 100%;
  height: 100px;
}

.bg-dark {
  background-color: rgba(64, 86, 161, 1)!important;
}
.bg-light-blue {
  background-color: rgba(197, 203, 227, 1);
}
.bg-lighter-blue {
  background-color: rgba(197, 203, 227, 0.5);
}

.btn-primary {
  color: #fff;
  background-color: #4056A1;
  border-color: #4056A1;
}
.btn-primary:hover {
  color: #fff;
  background-color: #4056A1;
  filter: brightness(80%);
  border-color: #4056A1;
}
.btn-secondary {
  color: #000;
  background-color: #D79922;
  border-color: #D79922;
}
.btn-outline-secondary {
  color: #D79922;
  border-color: #D79922;
}
.btn-secondary:hover, .btn-outline-secondary:hover {
  color: #000;
  background-color: #D79922;
  filter: brightness(95%);
  border-color: #D79922;
}

.list-group, .list-group-item {
  list-style-type: none!important;
}
.list-group-item {
  cursor: pointer!important;
}
#searchResults>li {
  font-size: 15px;
}

/* Blue list items */
.list-group-item:nth-child(odd) {
  background-color: rgba(197, 203, 227, 0.25);
}
.list-group-item:nth-child(even) {
  background-color: rgba(197, 203, 227, 0.35); 
}
.list-group-item.list-group-item-action:focus, .list-group-item.list-group-item-action:hover {
  background-color: rgba(64, 86, 161, 1);
  color: #fff;
}

/* Yellow list items */
.list-group-item-secondary:nth-child(odd) {
  background-color: rgba(239, 226, 186, 0.9);
}
.list-group-item-secondary:nth-child(even) {
  background-color: rgba(239, 226, 186, 0.7); 
}
.list-group-item-secondary.list-group-item-action:focus, .list-group-item-secondary.list-group-item-action:hover {
  background-color: rgba(215, 153, 34, 0.8);
  color: #000;
}


